<section class="vh-100" style="background-color: #60609a">
    <div class="container py-5 h-100 clearfix">
        <div class="row">
            <aside class="col-lg-9">
                <div class="card">
                    <div class="card-header">
                        <h2>Shopping Cart</h2>
                    </div>
                    <div class="card-body">
                        <div class="card-header" *ngIf="!this.order_cart">
                            <h2>Your Cart is Empty!</h2>
                        </div>
                        <div class="table-responsive" *ngIf="this.order_cart">
                            <table class="table table-bordered m-0">
                                <thead>
                                    <tr>
                                        <th class="text-center py-3 px-4" style="min-width: 400px">Product</th>
                                        <th class="text-right py-3 px-4" style="width: 100px">Price</th>
                                        <th class="text-center py-3 px-4" style="width: 120px">Quantity</th>
                                        <th class="text-right py-3 px-4" style="width: 100px">Total</th>
                                        <th class="text-center align-middle py-3 px-0" style="width: 40px"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let o of this.order_cart">
                                        <td class="p-4">
                                            <div class="media align-items-center">
                                                <img class="img-fluid d-block ui-w-40 ui-bordered mr-4" style="border-radius: 0.5rem 0.5rem 0.5rem 0.5rem" [src]="o.product_url" alt="" />
                                                <div class="media-body">
                                                    <small>
                                                        <span class="text-muted">Product: {{ o.product_name }}</span>
                                                    </small>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right font-weight-semibold align-middle p-4">${{ o.product_price }}</td>
                                        <td class="align-middle p-4"><input readonly type="text" class="form-control text-center" [value]="o.quantity" /></td>
                                        <td class="text-right font-weight-semibold align-middle p-4">${{ o.product_total }}</td>
                                        <td class="text-center align-middle px-0">
                                            <button type="button" class="btn btn-lg btn-danger btn-sm mt-2 me-2 mx-2" style="width: 75px" (click)="this.delete(o.product_id)">Remove</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </aside>
            <aside class="col-lg-3">
                <div class="card mb-2">
                    <div class="card-header">Customer Details</div>
                    <div class="card-body" *ngIf="!this.auth.logged">
                        <h5 class="card-title text-danger">Logged Account Required!</h5>
                        <p class="card-text">To continue with purchase please make sure you are logged in.</p>
                        <button type="button" class="btn btn-primary btn-sm" (click)="router.navigate(['/login'])">Log In</button>
                    </div>
                    <div class="card-body" *ngIf="this.auth.logged">
                        <dl class="dlist-align">
                            <dt style="margin-right: 10px; font-size: small">Customer:</dt>
                            <dd class="text-right text-muted ml-2" style="font-size: small">{{ this.current_user.full_name }}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt style="margin-right: 10px; font-size: small; padding-right: 22px">E-Mail:</dt>
                            <dd class="text-right text-muted ml-2" style="font-size: small">{{ this.current_user.email }}</dd>
                        </dl>
                    </div>
                </div>
                <div class="card mb-2" *ngIf="this.auth.logged">
                    <div class="card-header">Payment & Shipping</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label" style="font-size: small">Shipping Address</label>
                            <input
                                #address="ngModel"
                                name="address"
                                [(ngModel)]="this.order.address"
                                placeholder="(Minimum 10 Characters)"
                                type="text"
                                class="form-control"
                                style="font-size: small"
                                aria-describedby="addr_help"
                                required
                                minlength="10"
                                (ngModelChange)="checkAddress($event)"
                            />
                            <div id="addr_help" class="form-text" style="font-size: small">Tip: Shipping Address for Delivery</div>
                            <div class="mt-2" *ngIf="address.invalid && (address.dirty || address.touched)">
                                <div class="alert alert-danger" style="height: 75%; font-size: small; align-content: center" *ngIf="address.errors?.['required']">The address field is required.</div>
                                <div class="alert alert-danger mb-3" style="height: 75%; font-size: small; align-content: center" *ngIf="address.errors?.['minlength']">The address field has to be 10 characters or longer.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" style="font-size: small">Credit Card</label>
                            <input
                                #credit="ngModel"
                                placeholder="(16 Digit Number)"
                                name="credit"
                                [(ngModel)]="this.order.credit_card"
                                type="text"
                                class="form-control"
                                style="font-size: small"
                                pattern="^\d+$"
                                aria-describedby="credit_help"
                                required
                                minlength="16"
                                maxlength="16"
                                (ngModelChange)="checkCreditCard($event)"
                            />
                            <div id="credit_help" class="form-text" style="font-size: small">Tip: Payment Information</div>
                            <div class="mt-2" *ngIf="credit.invalid && (credit.dirty || credit.touched)">
                                <div class="alert alert-danger d-inline-block" style="height: 75%; font-size: small; align-content: center" *ngIf="credit.errors?.['required']">The credit card field is required.</div>
                                <div class="alert alert-danger mb-3" style="height: 75%; font-size: small; align-content: center" *ngIf="credit.errors?.['minlength']">The credit card field has to be 16 digits long.</div>
                                <div class="alert alert-danger mb-3" style="height: 75%; font-size: small; align-content: center" *ngIf="credit.errors?.['pattern']">The credit card field only allows numbers</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" *ngIf="this.auth.logged">
                    <div class="card-header">Order Details</div>
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt style="margin-right: 10px">Total Price:</dt>
                            <dd class="text-right ml-3">${{ this.order_total }}</dd>
                        </dl>
                        <hr />
                        <button type="button" class="btn btn-success btn-main" (click)="router.navigate(['/catalog'])">Continue Shopping</button>
                        <button type="button" class="btn btn-primary btn-main mt-2" [disabled]="!this.order_cart || !this.auth.logged || this.order.address.length < 10 || this.order.credit_card.length !== 16" (click)="this.process()">
                            Make Order
                        </button>
                        <button type="button" class="btn btn-danger btn-main mt-2" [disabled]="!this.order_cart || !this.auth.logged" (click)="this.deleteall()">Clear Cart</button>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
